# {{ ansible_managed }}

# see "man logrotate" for details
# rotate log files weekly
weekly

# keep 6 weeks worth of backlogs
rotate 6

# create new (empty) log files after rotating old ones
create

# use date as a suffix of the rotated file
dateext

# uncomment this if you want your log files compressed
compress

# RPM packages drop log rotation information into this directory
include /etc/logrotate.d

# Dont rotate the file if the file is empty
notifempty

# Rotate the file if the size of the file is reaching this size
size 100M

# system-specific logs may be also be configured here.
